<div class="{{classes.auth}}">
  <div class="{{classes.auth-ground}}">
    <div class="{{classes.auth-ground__name}}"><span>Вход</span></div>
    {{#each inputs}}
    <div
            class="{{glueClasses this.classes.auth-ground__input-form this.classes.auth-ground__input-form_margin}}"
    >
      <label class="{{this.classes.auth-ground__label}}" for="{{this.name}}">{{this.capture}}</label>
      {{> input classes=this.inputClasses width=350 height=20 type=this.type name=this.name id=this.id}}
    </div>
  {{/each}} 
  <div class="{{classes.auth-ground__enter-button}}">
   {{> button capture="Войти" background="primary" classes=buttonClasses  }}
   </div>
   <div class="{{classes.auth-ground__create-account-button}}">
   {{> button capture="Создать профиль" background="secondary" classes=buttonClasses id="create-account-button"  }}
   </div>
  </div>
</div>