<div class="{{classes.profile}}">
  <div class="{{classes.profile-ground}}">
        <div class="{{classes.profile-ground__name}}"><span>Профиль</span></div>
         {{#each inputs}}
    <div
            class="{{glueClasses this.classes.profile-ground__input-form this.classes.profile-ground__input-form_margin}}"
    >
      <label class="{{this.classes.profile-ground__label}}" for="{{this.name}}">{{this.capture}}</label>
       {{> input classes=this.inputClasses width=400 height=20 type=this.type name=this.name id=this.id}}
    </div>
  {{/each}}                   
        {{> button capture="Сохранить" background="primary" classes=buttonClasses  }}
  </div>
</div>