<input
   class='{{classes.input}} {{getClass 'input_style_' style classes}}
   {{getClass 'input_background_' background classes}}{{#if invalid}} {{classes.input_style_invalid}} {{/if}}'
   type='{{type}}'
   name='{{name}}'
   value="{{value}}"
   placeholder='{{placeholder}}'
   style='width:{{width}}px;height:{{height}}px'
/>
{{#if invalidIconVisible}}
   <div title='{{invalidText}}' class='{{classes.input__invalid-mark}}'>!</div>
{{/if}}