<input class="{{classes.input}} {{getClass 'input_style_' style classes}}
   {{getClass 'input_background_' background classes}}"
   type="{{type}}" name="{{name}}" value="{{value}}" placeholder="{{placeholder}}"
   style="width:{{width}}px;height:{{height}}px" />
<div title="{{invalidText}}" name="error-icon" class="{{classes.input__invalid-mark}} {{classes.input__invalid-mark_hide}}">!</div>
