<div class='{{classes.message-input}}'>
   <img
      src='paper-clip.svg'
      class='{{classes.message-input__operation}}'
      height='30px'
      width='30px'
   />
   <img
      src='smile.svg'
      class='{{classes.message-input__operation}}'
      height='30px'
      width='30px'
   />
   {{{components.inputs.message.template}}}
   <div class="{{classes.message-input__send-button}}">
      {{{components.buttons.send.template}}}
   </div>
</div>