<div class="{{classes.auth}}">
   <div class="{{classes.auth-ground}}">
      <div class="{{classes.auth-ground__name}}">
         {{{components.headings.heading.template}}}
      </div>
      <form>
         {{#each components.inputs}}
         <div class="{{../classes.auth-ground__input-form_margin}}">
            <label class="{{../classes.auth-ground__label}}" for="{{this.config.name}}">{{this.config.capture}}
            </label>
            {{{this.template}}}
         </div>
         {{/each}}
      </form>
      <div class="{{classes.auth-ground__enter-button}}">{{{components.buttons.enterButton.template}}}</div>
      <div class="{{classes.auth-ground__create-account-button}}">
         {{{components.buttons.createAccountButton.template}}}
      </div>
   </div>
</div>