<div class='{{classes.dialog-preview}}'>

   <div class='{{classes.dialog-preview__left}}'>
      {{{components.avatars.user.template}}}
      <div>
         <div class='{{classes.dialog-preview__author-name}}'>
            {{authorName}}
         </div>
         <div class='{{classes.dialog-preview__message}}'>
            {{message}}
         </div>
      </div>
   </div>
   <div class='{{classes.dialog-preview__right}}'>
      <div class='{{classes.dialog-preview__time}}'>{{time}}</div>
      <div>{{number}}</div>
   </div>
</div>